.modalWin{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:min-content;
  height: min-content;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  z-index: 3;
  background-color: var(--oscuro);
  box-shadow:4px -4px var(--claro);
}
.modalContainer{ 
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.winner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  width:60%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--oscuro);
  box-shadow:4px -4px var(--claro);
  border-radius: 15px;
  z-index: 5;
  color: #ffff;
}
.winner .text h2{
  text-align: center;
}
.winnerPoints{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fontClaro);
}


.btnWinner{
  background-color: var(--oscuro);
  box-shadow:4px -4px var(--claro);
  height: min fit-content;
  border-radius: 14px;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
  width: 150px;
  z-index: 4;
  color: white;
  border: 1px grey solid;
  text-decoration: none;
}
.btnWinnerExit{
  background-color: var(--warning);
  box-shadow:4px -4px var(--claro);
  height: min fit-content;
  border-radius: 14px;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
  width: 150px;
  z-index: 4;
  color: white;
  border: 1px grey solid;
  text-decoration: none;
  margin-top: 15px;
}

.btnWinner:hover{
  background-color: #6d6c6d;
}
.btnWinner[disabled] {
  /* Estilos para el botón deshabilitado */
  opacity: 0.7;
  cursor: not-allowed;
}
.btnWinner:hover[disabled] {
  background-color:var(--oscuro);
  opacity: 0.7;
  cursor: not-allowed;
}


.inputFormModal {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputFormModal > *{
  margin: 5px;
}

@media screen and (max-width: 1000px){
  .modalWin{
    width:95%;
    height: min-content;
    margin: 5px;
    background-color: var(--oscuro);
    box-shadow:4px -4px var(--claro);
    border-radius: 15px;
    z-index: 3;
  }
}
@media screen and (max-width: 500px){
  .winner .text {
    width:90%;
    height: min-content;
    gap: 20px;
    padding: 20px;
  }
  
}

